<h3>Active campaigns</h3>

<p *ngIf="campaigns.length == 0">There is no active campaigns.</p>

<div
  class="card my-3 w-100"
  style="width: 18rem"
  *ngFor="let campaign of campaigns"
>
  <div class="card-body">
    <h5 class="card-title">{{ campaign.name }}</h5>

    <h6>Banners</h6>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let banner of campaign.banners; index as i">
          <th scope="row">{{ banner.id }}</th>
          <td>{{ banner.name }}</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="campaign.activeTimeRanges && campaign.activeTimeRanges.length > 0">
      <h6>Active hours</h6>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">From</th>
            <th scope="col">To</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let atr of campaign.activeTimeRanges; index as i">
            <th scope="row">{{ atr.start }}</th>
            <td>{{ atr.end }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
