<div class="row">
  <div class="col d-flex justify-content-end">
    <a routerLink="/campaigns/add" class="btn btn-primary my-2">Add campaign</a>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let campaign of campaigns; index as i">
      <th scope="row">{{ campaign.id }}</th>
      <td>{{ campaign.name }}</td>
      <td>
        <button (click)="editCompaign(campaign)" class="mx-1">edit</button>
        <button (click)="deleteCampaign(campaign)" class="mx-1">delete</button>
      </td>
    </tr>
  </tbody>
</table>
