<ngb-alert type="danger" [dismissible]="false" *ngIf="errorMessage">
  <strong>Error!</strong> {{ errorMessage }}
</ngb-alert>

<form (submit)="onSubmit($event)">
  <h2>Edit banner</h2>
  <div class="mb-3">
    <label for="bannerName" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="bannerName"
      [formControl]="bannerName"
      placeholder="Banner 1"
      [value]="banner.name"
    />
  </div>
  <div class="mb-3">
    <label for="bannerText" class="form-label">Text</label>
    <input
      class="form-control"
      id="bannerText"
      [formControl]="bannerText"
      [value]="banner.text"
    />
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>
