<div class="container py-5">
  <h1>Campaigns App</h1>

  <nav class="nav mb-3">
    <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active">Home</a>
    <a class="nav-link" aria-current="campaigns" routerLink="/campaigns" routerLinkActive="active">Campaigns</a>
    <a class="nav-link" aria-current="campaigns" routerLink="/banners" routerLinkActive="active">Banners</a>
  </nav>

  <router-outlet></router-outlet>
</div>
