<ngb-alert type="danger" [dismissible]="false" *ngIf="errorMessage">
  <strong>Error!</strong> {{ errorMessage }}
</ngb-alert>

<form (submit)="onSubmit($event)">
  <h2>Add campaign</h2>

  <div class="mb-3">
    <label for="campaignName" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="campaignName"
      [formControl]="campaignName"
      placeholder="Campaign 1"
    />
  </div>

  <div class="row">
    <div class="col mb-3">
      <label class="form-label">Banners</label>
      <ng-select
        [items]="banners"
        bindLabel="name"
        placeholder="Select Banners"
        appendTo="body"
        [multiple]="true"
        [(ngModel)]="selectedBanners"
        name="banners"
      >
      </ng-select>
    </div>
  </div>

  <fieldset class="my-4">
    <div class="d-flex">
      <legend>Active hours</legend>
      <button type="button" class="btn btn-success" (click)="addActiveHoursRange()">+</button>
    </div>

    <div *ngFor="let ah of activeHours; index as i">
      <div class="row">
        <div class="col">
          <label for="">Start</label>
          <ngb-timepicker [(ngModel)]="ah.start" name="from"></ngb-timepicker>
        </div>
        <div class="col">
          <label for="">End</label>
          <ngb-timepicker [(ngModel)]="ah.end" name="to"></ngb-timepicker>
        </div>
        <div class="col-1 pt-5">
          <button (click)="removeActiveHour(ah)" class="btn btn-danger">X</button>
        </div>
      </div>
    </div>
  </fieldset>

  <button type="submit" class="btn btn-primary">Add</button>
</form>
