<div class="row">
  <div class="col d-flex justify-content-end">
    <a routerLink="/banners/add" class="btn btn-primary my-2">Add banner</a>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Text</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let banner of banners; index as i">
      <th scope="row">{{ banner.id }}</th>
      <td>{{ banner.name }}</td>
      <td>{{ banner.text }}</td>
      <td>
        <button (click)="editBanner(banner)" class="mx-1">edit</button>
        <button (click)="deleteBanner(banner)" class="mx-1">delete</button>
      </td>
    </tr>
  </tbody>
</table>
